<div class="w-full h-full flex justify-center items-end">
    <div>
      <ul role="list" class="overflow-y-auto flex flex-col-reverse no-scrollbar">
        <%= turbo_stream_from "#{dom_id(chat_interface)}_messages" %>
        <div id="<%= dom_id(chat_interface) %>_messages">
          <%= render chat_interface.messages %>
        </div>
      </ul>
      <%= render partial: "messages/form", locals: { chat_interface: chat_interface } %>
    </div>
</div>